.message__logo {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
	margin-bottom: 1.5rem;
}

.message__logo__img {
	width: 10.6875rem;
	height: 11.3125rem;
}

@media screen and (max-width: 767px) {
	.message__logo__img {
		width: 8.1875rem;
		height: 8.8125rem;
	}
}
