section.message
	div.message__logo
		img.message__logo__img(src="img/logo.svg", alt="Logo Renato Souza")

	div.message__text
		p.message__text__paragraph Me acompanhe nas Redes Sociais!
		p.message__text__paragraph Ou, se preferir, me mande um e-mail e vamos conversar. ;)

	ul.message__social
		li.message__social__item
			a.message__social__link.icon-facebook(href="https://www.facebook.com/renatosouzadesigner" target="_blank")
		li.message__social__item
			a.message__social__link.icon-behance(href="https://www.behance.net/renatosouzadesigner" target="_blank")
		li.message__social__item
			a.message__social__link.icon-whatsapp(href="http://api.whatsapp.com/send?1=pt_BR&phone=5521996182621" target="_blank")
		li.message__social__item
			a.message__social__link.icon-email(href="mailto:renato@renatosouzadesigner.com.br" target="_blank")
