//-Extended Template
extends ./template/default.pug

//-Personalized description CEO tag (máx. 150 char)
block meta-seo
	meta(name="description" content="Aproximar Marcas e Pessoas através do design, é a minha maneira de gerar resultados.")
	//-Favicons
	link(rel="icon" type="img/png", href="img/favicon.png", sizes="16x16")
	//-OpenGraph
	meta(property="og:title" content="Renato Souza - Designer")
	meta(property="og:type" content="website")
	meta(property="og:description" content="Aproximar Marcas e Pessoas através do design, é a minha maneira de gerar resultados.")
	meta(property="og:url" content="https://www.renatosouzadesigner.com.br/")
	meta(property="og:image" content="https://www.renatosouzadesigner.com.br/img/layout.png")
	meta(property="og:image:type" content="img/layout.png")
	meta(property="og:image:width" content="1200")
	meta(property="og:image:height" content="768")

	//- Twitter cards
	meta(name="twitter:card" content="summary")
	meta(name="twitter:title" content="Renato Souza - Designer")
	meta(name="twitter:description" content="Aproximar Marcas e Pessoas através do design, é a minha maneira de gerar resultados.")
	meta(name="twitter:url" content="https://www.renatosouzadesigner.com.br/")
	meta(name="twitter:image" content="https://www.renatosouzadesigner.com.br/img/layout.png")


block styles

//-Google Analytics Script
block analytics
	script
		include vendor/analytics.js

//-Your content Here..
block content
	include ./includes/_video-background.pug
	include ./includes/_main.pug
	include ./includes/_footer.pug
